.avatar-card-detail-table {
    margin-top: 1vh;
    vertical-align: middle;
    width: 6vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 5px;
}

.div-table-customer-detail {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.div-table-card-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}