.row-btn-program {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.ic-btn-pdf-subject {
    width: 2vw;
    height: 2vw;
    color: #fff;
    margin-right: 1rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.row-btn-all-program {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.ic-btn-green-subject {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    margin-right: 1rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn-green-subject {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #7bc8c6;
    border: none;
    border-radius: 0.3rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.5rem;
    margin-left: 1.5rem;
}

.btn-green-subject:hover {
    cursor: pointer;
    background-color: #66bfb8;
}

.div-table-program-all {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.div-table-program-detail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #467ac8;
    border: none;
    padding: 0.75rem;
    border-radius: 1rem 1rem 0 0;
}

.div-table-program-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 0 0 1rem 1rem;
}

.div-subject-list-checkbox {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-subject-list {
    color: #fff;
}

.div-treatment-list {
    color: #000;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25vh 0;
}

.font-style-color-wht {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.div-treatment-list-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-history-treatment {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #467ac8;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.btn-history-treatment:hover {
    cursor: pointer;
    background-color: #b8358d;
}

.label-font-result-list {
    color: #000;
    font-size: 14px;
    margin:0;
}