.div-modal-change-status {
	width: 300px;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px 0;
	font-size: 12px;
	position: relative;
}

.label-modal-change-status {
	font-size: 2rem;
	font-weight: bold;

	color: #467ac8;
}

.button-close-modal-change-status {
	position: absolute;
	background-color: #467ac8;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
	margin: -10px -10px 0 0;
}

.label-modal-status-radio {
	font-size: 1.4rem;

	color: #000;
}
